:root {
  /* Monochrome color theme pallete */
  --light-1: #f8f9fa;
  --light-2: #e9ecef;
  --light-3: #dee2e6;
  --light-4: #ced4da;
  --neutral: #adb5bd;
  --dark-1: #060707;
  --dark-1: #343a40;
  --dark-1: #495057;
  --dark-1: #6c757d;
}
